body {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 64px;
}
.weather-main-info {
  display: flex;
  width: 640px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
}

.weather-extra-info {
  width: 640px;
}
.extra-info-container {
  display: flex;
  justify-content: space-around;
}
.extra-info-container > p {
  margin: 0;
  width: 180px;
  margin-bottom: 8px;
}

label {
  width: 180px;
}

#city-input {
  height: 16px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
  transition: border-bottom 0.5s;
  width: 240px;
}

#city-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(83, 157, 255);
  transition: border-bottom 0.5s;
}

.searchbar > button {
  background-color: #fff;
  border: none;
}

.controll-container {
  display: flex;
}

.navbar {
  border-bottom: 1px solid black;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
}

.navbar > h1 {
  font-size: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#metric-switch {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-right: 32px;
}
